.home {
min-height: 100vh;
}

.heading {
    color: rgb(232, 222, 222);
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}
      
.nav-link {
    color: rgb(232, 222, 222) !important;
    
}

.active {
    color: rgb(41, 39, 39) !important;
    
}

.logo-name {
    font-size: 50px !important;
    transition: all 0.5s linear;
    
}

.logo-name:hover,
.logo-name:active  {
    transform: scale(1.5);   
    color:  rgb(237, 237, 227);
    filter: drop-shadow(3px 5px 2px rgba(218, 207, 207, 0.4));
} 

.promo {
    font-size: 27px;
}



