.star-description{
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    color: #e1dede;
    line-height: 1.3;
}

.bold-text {
    font-weight: bold;
}

.search-bar {
    justify-content: center;
}

/* .star-card:hover {
background: rgba(17, 138, 64, 0.5);
padding: 4px;
transition: 0.2s;
} */