 h1 {
    text-shadow: 1px 1px 1px black;
    color: rgb(211, 215, 215);
 }
 .star-description{
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    color: #e1dede;
    line-height: 1.3;
}

.bold-text {
    font-weight: bold;
}

.search-bar {
    justify-content: center;
}
.star-card {
    text-shadow: 1px 1px 1px black;
    color: #e1dede;
}
.stars-info {
    font-size: 26px; 
    text-shadow: 1px 1px 1px black;
    color: rgb(211, 215, 215);
}

.inline {
    display: inline !important;
}