 .star-description{
    justify-content: center;
    text-shadow: 1px 1px 1px black;
    color: #e1dede;
    line-height: 1.3;
}

.bold-text {
    font-weight: bold;
}

.search-bar {
    justify-content: center;
}

.stars-info {
    font-size: 26px; 
}